<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- spring工具类 方便在非spring管理环境中获取bean -->
    <bean id="springUtils" class="cn.zsy.utils.SpringUtils"/>

    <import resource="classpath:spring-db.xml"/>
    <import resource="classpath:spring-service.xml"/>


</beans>